src/cart.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <!-- Пути для css, js и изображений-->
    <!-- блок с meta -->
    <meta charset="UTF-8"/>
    <title>Магазин «Фурсат»</title>
    <meta name="description" content=""/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta property="og:image" content="assets/img/image.jpg"/>
    <!-- блок с favicon-->
    <link rel="shortcut icon" href="assets/img/favicon/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="assets/img/favicon/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/favicon/apple-touch-icon-114x114.png"/>
    <!-- цвет в мобильной версии-->
    <meta name="theme-color" content="#000"/>
    <meta name="msapplication-navbutton-color" content="#000"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="#000"/>
    <!-- подключение сss-->
    <link rel="stylesheet" href="assets/css/main.min.css"/>
    <script src="assets/js/modernizr.js"></script>
  </head>
</html>
<body>
  <header class="header">
    <div class="container-fluid">
      <div class="header__container"><a class="header__logo" href="#">Logo 123</a>
        <div class="header__search">
          <form class="header__searchform">
            <input class="header__searchinput" placeholder="Я ищу..."/>
            <button class="header__searchbutton"><i class="fas fa-search"></i></button>
          </form>
        </div>
        <div class="header__cart"><a class="header__cartlink" href="#"><i class="fas fa-cart-arrow-down"></i> <span>Моя корзина</span></a><a class="header__cartlike" href="#"><i class="fas fa-heart"></i><span>Мои пожелания</span></a></div>
        <div class="header__account"><a class="header__accountlink" href="#">Войти</a><a class="header__accountlink" href="#">Регистрация</a></div>
      </div>
    </div>
  </header>
  <div class="megamenu nav">
    <div class="container-fluid">
      <div class="cd-dropdown-wrapper"><a class="cd-dropdown-trigger" href="#0">КАТЕГОРИИ</a>
        <nav class="cd-dropdown">
          <h2>Все категории</h2><a class="cd-close" href="#0">Закрыть</a>
          <ul class="cd-dropdown-content">
            <li class="has-children"><a href="#">Категории продуктов</a>
              <ul class="cd-secondary-dropdown is-hidden">
                <li class="go-back"><a href="#0">Menu</a></li>
                <li class="see-all"><a href="#">All Clothing</a></li>
                <li class="has-children"><a href="#">Accessories</a>
                  <ul class="is-hidden">
                    <li class="go-back"><a href="#0">Clothing</a></li>
                    <li class="see-all"><a href="#">Все категории</a></li>
                    <li class="has-children"><a href="#0">Beanies</a>
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Accessories</a></li>
                        <li class="see-all"><a href="#">All Benies</a></li>
                        <li><a href="#">Caps & Hats</a></li>
                        <li><a href="#">Gifts</a></li>
                        <li><a href="#">Scarves & Snoods</a></li>
                      </ul>
                    </li>
                    <li class="has-children"><a href="#0">Caps & Hats</a>
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Accessories</a></li>
                        <li class="see-all"><a href="#">All Caps & Hats</a></li>
                        <li><a href="#">Beanies</a></li>
                        <li><a href="#">Caps</a></li>
                        <li><a href="#">Hats</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Glasses</a></li>
                    <li><a href="#">Gloves</a></li>
                    <li><a href="#">Jewellery</a></li>
                    <li><a href="#">Scarves</a></li>
                  </ul>
                </li>
                <li class="has-children"><a href="#">Bottoms</a>
                  <ul class="is-hidden">
                    <li class="go-back"><a href="#0">Clothing</a></li>
                    <li class="see-all"><a href="#">All Bottoms</a></li>
                    <li><a href="#">Casual Trousers</a></li>
                    <li class="has-children"><a href="#0">Jeans</a>
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Bottoms</a></li>
                        <li class="see-all"><a href="#">All Jeans</a></li>
                        <li><a href="#">Ripped</a></li>
                        <li><a href="#">Skinny</a></li>
                        <li><a href="#">Slim</a></li>
                        <li><a href="#">Straight</a></li>
                      </ul>
                    </li>
                    <li><a href="#0">Leggings</a></li>
                    <li><a href="#0">Shorts</a></li>
                  </ul>
                </li>
                <li class="has-children"><a href="#">Jackets</a>
                  <ul class="is-hidden">
                    <li class="go-back"><a href="#0">Clothing</a></li>
                    <li class="see-all"><a href="#">All Jackets</a></li>
                    <li><a href="#">Blazers</a></li>
                    <li><a href="#">Bomber jackets</a></li>
                    <li><a href="#">Denim Jackets</a></li>
                    <li><a href="#">Duffle Coats</a></li>
                    <li><a href="#">Leather Jackets</a></li>
                    <li><a href="#">Parkas</a></li>
                  </ul>
                </li>
                <li class="has-children"><a href="#">Tops</a>
                  <ul class="is-hidden">
                    <li class="go-back"><a href="#0">Clothing</a></li>
                    <li class="see-all"><a href="#">All Tops</a></li>
                    <li><a href="#">Cardigans</a></li>
                    <li><a href="#">Coats</a></li>
                    <li><a href="#">Polo Shirts</a></li>
                    <li><a href="#">Shirts</a></li>
                    <li class="has-children"><a href="#0">T-Shirts</a>
                      <ul class="is-hidden">
                        <li class="go-back"><a href="#0">Tops</a></li>
                        <li class="see-all"><a href="#">All T-shirts</a></li>
                        <li><a href="#">Plain</a></li>
                        <li><a href="#">Print</a></li>
                        <li><a href="#">Striped</a></li>
                        <li><a href="#">Long sleeved</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Vests</a></li>
                  </ul>
                </li>
              </ul>
              <!-- .cd-secondary-dropdown-->
            </li>
            <!-- .has-children-->
            <li class="has-children"><a href="#">Бренды</a>
              <ul class="cd-dropdown-gallery is-hidden">
                <li class="go-back"><a href="#0">Menu</a></li>
                <li class="see-all"><a href="#">Browse Gallery</a></li>
                <li><a class="cd-dropdown-item" href="#"><img src="assets/img/img.png" alt="Product Image"/>
                    <h3>Product #1</h3></a></li>
                <li><a class="cd-dropdown-item" href="#"><img src="assets/img/img.png" alt="Product Image"/>
                    <h3>Product #2</h3></a></li>
                <li><a class="cd-dropdown-item" href="#"><img src="assets/img/img.png" alt="Product Image"/>
                    <h3>Product #3</h3></a></li>
                <li><a class="cd-dropdown-item" href="#"><img src="assets/img/img.png" alt="Product Image"/>
                    <h3>Product #4</h3></a></li>
              </ul>
              <!-- .cd-dropdown-gallery-->
            </li>
            <!-- .has-children-->
            <li class="has-children"><a href="#">Services</a>
              <ul class="cd-dropdown-icons is-hidden">
                <li class="go-back"><a href="#0">Menu</a></li>
                <li class="see-all"><a href="#">Browse Services</a></li>
                <li><a class="cd-dropdown-item item-1" href="#">
                    <h3>Service #1</h3>
                    <p>This is the item description</p></a></li>
                <li><a class="cd-dropdown-item item-2" href="#">
                    <h3>Service #2</h3>
                    <p>This is the item description</p></a></li>
                <li><a class="cd-dropdown-item item-3" href="#">
                    <h3>Service #3</h3>
                    <p>This is the item description</p></a></li>
                <li><a class="cd-dropdown-item item-4" href="#">
                    <h3>Service #4</h3>
                    <p>This is the item description</p></a></li>
                <li><a class="cd-dropdown-item item-5" href="#">
                    <h3>Service #5</h3>
                    <p>This is the item description</p></a></li>
                <li><a class="cd-dropdown-item item-6" href="#">
                    <h3>Service #6</h3>
                    <p>This is the item description</p></a></li>
                <li><a class="cd-dropdown-item item-7" href="#">
                    <h3>Service #7</h3>
                    <p>This is the item description</p></a></li>
                <li><a class="cd-dropdown-item item-8" href="#">
                    <h3>Service #8</h3>
                    <p>This is the item description</p></a></li>
                <li><a class="cd-dropdown-item item-9" href="#">
                    <h3>Service #9</h3>
                    <p>This is the item description</p></a></li>
                <li><a class="cd-dropdown-item item-10" href="#">
                    <h3>Service #10</h3>
                    <p>This is the item description</p></a></li>
                <li><a class="cd-dropdown-item item-11" href="#">
                    <h3>Service #11</h3>
                    <p>This is the item description</p></a></li>
                <li><a class="cd-dropdown-item item-12" href="#">
                    <h3>Service #12</h3>
                    <p>This is the item description</p></a></li>
              </ul>
              <!-- .cd-dropdown-icons-->
            </li>
            <!-- .has-children-->
            <li class="cd-divider">Divider</li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
          <!-- .cd-dropdown-content-->
        </nav>
        <!-- .cd-dropdown-->
      </div><a class="nav__joinbtn" href="#">+ Стать продавцом</a>
    </div>
  </div>
  <div class="cartpage">
    <div class="cartpage__content">
            <div class="cart">
              <h1 class="cart__title">Корзина</h1>
              <div class="table-responsive">
                <table class="cart__table">
                  <tr class="cart__head">
                    <th class="cart__th">Наименование и описание товара</th>
                    <th class="cart__th">Цена</th>
                    <th class="cart__th">Количество</th>
                    <th class="cart__th">Стоимость</th>
                  </tr>
                  <tr class="cart__item">
                    <td class="cart__td"> 
                      <div class="cart__product">
                        <div class="cart__product-img"><img src="assets/img/cards/card1.png" alt=""/></div>
                        <div class="cart__product-descr">Детские боди для новорожденных малышей. <br>Любые размеры. <br> Цвет: синий <br>Размер: 68</div>
                      </div>
                    </td>
                    <td class="cart__td">150 сомони/шт.</td>
                    <td class="cart__td">1 шт.</td>
                    <td class="cart__td">Стоимость: 150 смн. <br> Стоимость доставки: 20 смн. <br> Общая стоимость: 170 смн.<a class="cart__delete" href="#">Удалить товар</a></td>
                  </tr>
                  <tr class="cart__item">
                    <td class="cart__td"> 
                      <div class="cart__product">
                        <div class="cart__product-img"><img src="assets/img/cards/card2.png" alt=""/></div>
                        <div class="cart__product-descr">Детские боди для новорожденных малышей. <br>Любые размеры. <br> Цвет: синий <br>Размер: 68</div>
                      </div>
                    </td>
                    <td class="cart__td">150 сомони/шт.</td>
                    <td class="cart__td">1 шт.</td>
                    <td class="cart__td">Стоимость: 150 смн. <br> Стоимость доставки: 20 смн. <br> Общая стоимость: 170 смн.<a class="cart__delete" href="#">Удалить товар</a></td>
                  </tr>
                  <tr class="cart__item">
                    <td class="cart__td"> 
                      <div class="cart__product">
                        <div class="cart__product-img"><img src="assets/img/cards/card3.png" alt=""/></div>
                        <div class="cart__product-descr">Детские боди для новорожденных малышей. <br>Любые размеры. <br> Цвет: синий <br>Размер: 68</div>
                      </div>
                    </td>
                    <td class="cart__td">150 сомони/шт.</td>
                    <td class="cart__td">1 шт.</td>
                    <td class="cart__td">Стоимость: 150 смн. <br> Стоимость доставки: 20 смн. <br> Общая стоимость: 170 смн.<a class="cart__delete" href="#">Удалить товар</a></td>
                  </tr>
                  <tr class="cart__item">
                    <td class="cart__td"> 
                      <div class="cart__product">
                        <div class="cart__product-img"><img src="assets/img/cards/card4.png" alt=""/></div>
                        <div class="cart__product-descr">Детские боди для новорожденных малышей. <br>Любые размеры. <br> Цвет: синий <br>Размер: 68</div>
                      </div>
                    </td>
                    <td class="cart__td">150 сомони/шт.</td>
                    <td class="cart__td">1 шт.</td>
                    <td class="cart__td">Стоимость: 150 смн. <br> Стоимость доставки: 20 смн. <br> Общая стоимость: 170 смн.<a class="cart__delete" href="#">Удалить товар</a></td>
                  </tr>
                </table>
              </div>
              <div class="cart__total"><span>Итого: 5000 сомони</span></div>
              <div class="cart__order"><a class="cart__orderbtn" href="">Оформить заказ</a></div>
            </div>
    </div>
  </div><a class="totop" href="#"> Наверх</a>
  <div class="footer"> 
    <div class="container-fluid"><a class="footer__logo" href="#">FursatShop</a>
      <div class="footer__cols">
        <div class="footer__col">
          <form class="footer__form">
            <h3 class="footer__formtitle">Связаться с нами</h3>
            <input class="footer__forminput" type="text" placeholder="Ваше имя..."/>
            <input class="footer__forminput" type="text" placeholder="Email..."/>
            <input class="footer__forminput" type="text" placeholder="Телефон..."/>
            <textarea class="footer__formtext" type="text" placeholder="Сообщение..."></textarea>
            <button class="footer__formsubmit" type="submit">Отправить</button>
          </form>
        </div>
        <div class="footer__col">
          <div class="footer__mymenu">
            <h3 class="footer__mymenutitle">Мой аккаунт</h3>
            <ul class="footer__mymenulist">
              <li class="footer__mymenuitem"> <a class="footer__mymenulink" href="#">Мой аккаунт</a></li>
              <li class="footer__mymenuitem"> <a class="footer__mymenulink" href="#">Персональная информация</a></li>
              <li class="footer__mymenuitem"> <a class="footer__mymenulink" href="#">Мои пожелания</a></li>
              <li class="footer__mymenuitem"> <a class="footer__mymenulink" href="#">История заказов</a></li>
              <li class="footer__mymenuitem"> <a class="footer__mymenulink" href="#">Адреса</a></li>
              <li class="footer__mymenuitem"> <a class="footer__mymenulink" href="#">Скидки</a></li>
            </ul>
          </div>
        </div>
        <div class="footer__col">
          <div class="footer__contacts">
            <h3 class="footer__contactstitle">Контактная информация</h3>
            <p class="footer__contactstext">
               Компания Fursat <br><br>
              г. Душанбе, Таджикистан<br>
              ул. Шамси 4,<br><br>
              Рабочие дни: Пон-Суб,<br><br>
              Рабочие часы: с 9:00 до 18:00<br><br>
              Телефон для справок: +992(98)5809038<br><br>
              Email: fursat@gmail.com<br><br>
            </p>
          </div>
        </div>
      </div>
      <div class="footer__copyright">© 2018 Fursat.tj  Все права защищены.</div>
    </div>
  </div>
  <script src="assets/js/scripts.min.js"></script>
</body>

src/pug/components/cart.pug
mixin cart(type)
	case type
		when 'cart'
			- var end;  //- багфикс подсветки
				.cart
					h1.cart__title Корзина
					.table-responsive
						table.cart__table
							tr.cart__head
								th.cart__th Наименование и описание товара
								th.cart__th Цена
								th.cart__th Количество
								th.cart__th Стоимость
							each val in [1, 2, 3, 4]
								- var x;
								tr.cart__item
									td.cart__td 
										.cart__product
											.cart__product-img
												img(src="assets/img/cards/card" + val + ".png", alt="")
											.cart__product-descr Детские боди для новорожденных малышей. <br>Любые размеры. <br> Цвет: синий <br>Размер: 68
									td.cart__td 150 сомони/шт.
									td.cart__td 1 шт.
									td.cart__td Стоимость: 150 смн. <br> Стоимость доставки: 20 смн. <br> Общая стоимость: 170 смн.
										a.cart__delete(href="#") Удалить товар
					.cart__total
						span Итого: 5000 сомони
					.cart__order
						a.cart__orderbtn(href="") Оформить заказ
	case type
		when 'order'
			- var end;  //- багфикс подсветки
				.cart
					h1.cart__title Оформление заказа
					.form
						h5 1. Заполните, пожалуйста, ваш адрес доставки:
						.form-group
							label Имя получателя:
							input.form-control(type="text")
						.form-group
							label Город, улица, дом, квартира:
							input.form-control(type="text")
						.form-group
							label Мобильный телефон:
							input.form-control(type="phone")
						.form-group
							label Email:
							input.form-control(type="email")
						h5 2. Удостоверьтесь в правильности деталей доставки:
						.form-group
							label Товары:
							textarea.form-control(type="text",readonly) Товары на сумму 5000 сомони: рубашки красные - 5шт., джинсы - 3 шт.
						h5 3. Примечание к заказу 
						.form-group
							textarea.form-control
						h5 4. Способы оплаты
						.form-group
							label.radio
								input(type="radio" name="radio")
								span.radio__text Оплата при получении
						.cart__order
							button.cart__orderbtn Заказать
