src/sellersteps.html

<div class="sellersteps"> 
  <div class="sellersteps__step sellersteps__step--active">
    <div class="sellersteps__number">1</div>
    <div class="sellersteps__text">Соглашение продавца</div>
  </div>
  <div class="sellersteps__step">
    <div class="sellersteps__number">2</div>
    <div class="sellersteps__text">Информация о продавце</div>
  </div>
  <div class="sellersteps__step">
    <div class="sellersteps__number">3</div>
    <div class="sellersteps__text">Счет и депозит</div>
  </div>
  <div class="sellersteps__step">
    <div class="sellersteps__number">4</div>
    <div class="sellersteps__text">Информация о налогах</div>
  </div>
  <div class="sellersteps__step">
    <div class="sellersteps__number">5</div>
    <div class="sellersteps__text">Информация о продукте</div>
  </div>
</div>

src/pug/components/sellersteps.pug
mixin sellersteps(type)
	case type
		when 'agreement'
			- var end;  //- багфикс подсветки
			.sellersteps 
				.sellersteps__step.sellersteps__step--active
					.sellersteps__number 1
					.sellersteps__text Соглашение продавца
				.sellersteps__step
					.sellersteps__number 2
					.sellersteps__text Информация о продавце
				.sellersteps__step
					.sellersteps__number 3
					.sellersteps__text Счет и депозит
				.sellersteps__step
					.sellersteps__number 4
					.sellersteps__text Информация о налогах
				.sellersteps__step
					.sellersteps__number 5
					.sellersteps__text Информация о продукте
		when 'info'
			- var end;  //- багфикс подсветки
			.sellersteps 
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 1
					.sellersteps__text Соглашение продавца
				.sellersteps__step.sellersteps__step--active
					.sellersteps__number 2
					.sellersteps__text Информация о продавце
				.sellersteps__step
					.sellersteps__number 3
					.sellersteps__text Счет и депозит
				.sellersteps__step
					.sellersteps__number 4
					.sellersteps__text Информация о налогах
				.sellersteps__step
					.sellersteps__number 5
					.sellersteps__text Информация о продукте
		when 'deposit'
			- var end;  //- багфикс подсветки
			.sellersteps 
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 1
					.sellersteps__text Соглашение продавца
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 2
					.sellersteps__text Информация о продавце
				.sellersteps__step.sellersteps__step--active
					.sellersteps__number 3
					.sellersteps__text Счет и депозит
				.sellersteps__step
					.sellersteps__number 4
					.sellersteps__text Информация о налогах
				.sellersteps__step
					.sellersteps__number 5
					.sellersteps__text Информация о продукте
		when 'tax'
			- var end;  //- багфикс подсветки
			.sellersteps 
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 1
					.sellersteps__text Соглашение продавца
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 2
					.sellersteps__text Информация о продавце
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 3
					.sellersteps__text Счет и депозит
				.sellersteps__step.sellersteps__step--active
					.sellersteps__number 4
					.sellersteps__text Информация о налогах
				.sellersteps__step
					.sellersteps__number 5
					.sellersteps__text Информация о продукте
		when 'products'
			- var end;  //- багфикс подсветки
			.sellersteps 
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 1
					.sellersteps__text Соглашение продавца
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 2
					.sellersteps__text Информация о продавце
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 3
					.sellersteps__text Счет и депозит
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 4
					.sellersteps__text Информация о налогах
				.sellersteps__step.sellersteps__step--active
					.sellersteps__number 5
					.sellersteps__text Информация о продукте
		when 'final'
			- var end;  //- багфикс подсветки
			.sellersteps 
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 1
					.sellersteps__text Соглашение продавца
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 2
					.sellersteps__text Информация о продавце
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 3
					.sellersteps__text Счет и депозит
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 4
					.sellersteps__text Информация о налогах
				.sellersteps__step.sellersteps__step--last
					.sellersteps__number 5
					.sellersteps__text Информация о продукте
