src/admin-main.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Общая картина
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"><a class="nav-item nav-link active" href="admin-main.html">Общая картина </a><a class="nav-item nav-link" href="admin-users.html">Пользователи</a><a class="nav-item nav-link" href="admin-goods.html">Товары</a></div>
      </div>
      <div class="navbar-nav my-2 my-lg-0"><a class="nav-item nav-link" href="admin-login.html">Выход</a></div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">Пользователи</h5>
              <p class="card-text">Число зарегистрированных пользователей – <span class="badge badge-secondary badge-pill">57</span></p><a class="btn btn-primary" href="admin-users.html">К пользователям</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">Товары</h5>
              <p class="card-text">Количество загруженных товаров - <span class="badge badge-secondary badge-pill">854</span></p><a class="btn btn-primary" href="admin-goods.html">К товарам</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>

src/pug/admin-main.pug
extends layouts/admin

block title
	| Общая картина

block body
	include components-admin/nav
	.container-fluid
		.row
			.col-sm-6
				.card.mb-2
					.card-body
						h5.card-title Пользователи
						p.card-text Число зарегистрированных пользователей – 
							span.badge.badge-secondary.badge-pill 57
						a.btn.btn-primary(href='admin-users.html') К пользователям
			.col-sm-6
				.card.mb-2
					.card-body
						h5.card-title Товары
						p.card-text Количество загруженных товаров - 
							span.badge.badge-secondary.badge-pill 854
						a.btn.btn-primary(href='admin-goods.html') К товарам
