src/pug/admin-users-single.pug
extends layouts/admin

block title
	| Пользователь

block body
	include components-admin/nav
	.container-fluid
		a.btn.btn-primary.btn-sm.mb-5(href='admin-users.html') « К списку пользователей
		.card.mb-5
			.card-body
				h5.card-title Николай Козлов
					.badge.badge-warning продавец
				h6.card-subtitle.mb-2.text-muted 25.05.2018
				p.card-text
					| У пользователя 5 опубликованных товаров
				a.card-link(href='#') nikolay@velkomb.com
				a.card-link(href='#') Страница на сайте
		h5.card-title Банковская информация
		.table-responsive.mb-3
			table.table.table-sm.table-striped
					tbody
						tr
							td Банк получатель
							th АО «Тинькофф Банк»
						tr
							td Корр. счёт
							th 30101810145250000974
						tr
							td БИК
							th 044525974
						tr
							td Получатель
							th Козлов Николай Сергеевич
						tr
							td Счёт получателя платежа
							th 40820810600000087709
		h5.card-title Налоговая информация
		.table-responsive
			table.table.table-sm.table-striped
					tbody
						tr
							td ИНН
							th 044525974
						tr
							td Имя налогоплательщика
							th Козлов Николай Сергеевич
		

src/admin-users-single.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Пользователь
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"><a class="nav-item nav-link active" href="admin-main.html">Общая картина </a><a class="nav-item nav-link" href="admin-users.html">Пользователи</a><a class="nav-item nav-link" href="admin-goods.html">Товары</a></div>
      </div>
      <div class="navbar-nav my-2 my-lg-0"><a class="nav-item nav-link" href="admin-login.html">Выход</a></div>
    </nav>
    <div class="container-fluid"><a class="btn btn-primary btn-sm mb-5" href="admin-users.html">« К списку пользователей</a>
      <div class="card mb-5">
        <div class="card-body">
          <h5 class="card-title">Николай Козлов
            <div class="badge badge-warning">продавец</div>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">25.05.2018</h6>
          <p class="card-text">У пользователя 5 опубликованных товаров</p><a class="card-link" href="#">nikolay@velkomb.com</a><a class="card-link" href="#">Страница на сайте</a>
        </div>
      </div>
      <h5 class="card-title">Банковская информация</h5>
      <div class="table-responsive mb-3">
        <table class="table table-sm table-striped">
          <tbody>
            <tr>
              <td>Банк получатель</td>
              <th>АО «Тинькофф Банк»</th>
            </tr>
            <tr>
              <td>Корр. счёт</td>
              <th>30101810145250000974</th>
            </tr>
            <tr>
              <td>БИК</td>
              <th>044525974</th>
            </tr>
            <tr>
              <td>Получатель</td>
              <th>Козлов Николай Сергеевич</th>
            </tr>
            <tr>
              <td>Счёт получателя платежа</td>
              <th>40820810600000087709</th>
            </tr>
          </tbody>
        </table>
      </div>
      <h5 class="card-title">Налоговая информация</h5>
      <div class="table-responsive">
        <table class="table table-sm table-striped">
          <tbody>
            <tr>
              <td>ИНН</td>
              <th>044525974</th>
            </tr>
            <tr>
              <td>Имя налогоплательщика</td>
              <th>Козлов Николай Сергеевич</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
