src/admin-goods-single.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Товар
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"><a class="nav-item nav-link active" href="admin-main.html">Общая картина </a><a class="nav-item nav-link" href="admin-users.html">Пользователи</a><a class="nav-item nav-link" href="admin-goods.html">Товары</a></div>
      </div>
      <div class="navbar-nav my-2 my-lg-0"><a class="nav-item nav-link" href="admin-login.html">Выход</a></div>
    </nav>
    <div class="container-fluid"><a class="btn btn-primary btn-sm mb-5" href="admin-goods.html">« К списку товаров</a>
      <div class="clearfix"></div>
      <div class="btn-group btn-group-sm mb-3"><a class="btn btn-outline-danger" href="admin-goods-single.html">Нет аттр.</a><a class="btn btn-outline-danger" href="admin-goods-single.html">Новинка</a><a class="btn btn-danger" href="admin-goods-single.html">Распродажа</a><a class="btn btn-outline-danger" href="admin-goods-single.html">Хит</a></div>
      <div class="card">
        <div class="card-body"><img class="mb-5" width="150" src="assets/img/cards/card2.png" alt="card">
          <h5 class="card-title">MacBook Pro 
            <div class="badge badge-pill badge-warning">11150 смн</div>
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">25.05.2018</h6>
          <p class="card-text">MacBook Pro с процессорами Intel Core седьмого поколения и ускорением Turbo Boost до 4,1 ГГц обеспечивает впечатляющую производительность. Поэтому вы сможете работать быстрее, даже когда речь идёт о самых ресурсоёмких проектах, например о рендеринге 3D‑моделей и кодировании видео. А когда вы выполняете простые задачи, просматриваете веб‑страницы или работаете с электронной почтой, устройство экономит заряд аккумулятора. Аппаратное ускорение для 10‑битного стандарта HEVC реализовано в каждом MacBook Pro, и это позволяет в полной мере пользоваться преимуществами улучшенного сжатия видео 4К и ускоренного стриминга в macOS High Sierra.</p><a class="card-link" href="admin-users-single.html">Продавец: Николай Козлов</a><a class="card-link" href="#">Страница на сайте</a>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>

src/pug/admin-goods-single.pug
extends layouts/admin

block title
	| Товар

block body
	include components-admin/nav
	.container-fluid
		a.btn.btn-primary.btn-sm.mb-5(href='admin-goods.html') « К списку товаров
		.clearfix
		.btn-group.btn-group-sm.mb-3
			a.btn.btn-outline-danger(href="admin-goods-single.html") Нет аттр.
			a.btn.btn-outline-danger(href="admin-goods-single.html") Новинка
			a.btn.btn-danger(href="admin-goods-single.html") Распродажа
			a.btn.btn-outline-danger(href="admin-goods-single.html") Хит
		.card
			.card-body
				img.mb-5(width="150" src='assets/img/cards/card2.png', alt='card')
				h5.card-title MacBook Pro 
					.badge.badge-pill.badge-warning 11150 смн
				h6.card-subtitle.mb-2.text-muted 25.05.2018
				p.card-text
					| MacBook Pro с процессорами Intel Core седьмого поколения и ускорением Turbo Boost до 4,1 ГГц обеспечивает впечатляющую производительность. Поэтому вы сможете работать быстрее, даже когда речь идёт о самых ресурсоёмких проектах, например о рендеринге 3D‑моделей и кодировании видео. А когда вы выполняете простые задачи, просматриваете веб‑страницы или работаете с электронной почтой, устройство экономит заряд аккумулятора. Аппаратное ускорение для 10‑битного стандарта HEVC реализовано в каждом MacBook Pro, и это позволяет в полной мере пользоваться преимуществами улучшенного сжатия видео 4К и ускоренного стриминга в macOS High Sierra.
				a.card-link(href='admin-users-single.html') Продавец: Николай Козлов
				a.card-link(href='#') Страница на сайте
		
		
