src/pug/admin-goods.pug
extends layouts/admin

block title
	| Товары

mixin btns
	.btn-group.btn-group-sm
		a.btn.btn-secondary.btn-primary(href="admin-goods-single.html") Просмотреть

block body
	include components-admin/nav
	.container-fluid
		.table-responsive.mb-2
			table.table
				thead
					tr
						th(scope='col') #
						th(scope='col') Наименование товара
						th(scope='col') Продавец
						th(scope='col') Действия
				tbody
					tr
						th(scope='row') 1
						td 	
							img.mr-5(width="50" src='assets/img/cards/card1.png', alt='card')
							| Джинсовая рубашка
							.badge.badge-pill.badge-warning 50 смн
						td 
							a.btn.btn-outline-secondary.btn-sm(href="admin-users-single.html") Николай Козлов
						td 
							+btns
							

					tr
						th(scope='row') 2
						td
							img.mr-5(width="50" src='assets/img/cards/card2.png', alt='card')
							| MacBook Pro
							.badge.badge-pill.badge-warning 11560 смн
						td 
							a.btn.btn-outline-secondary.btn-sm(href="admin-users-single.html") Шоди Рашидбеков
						td 
							+btns
					tr
						th(scope='row') 3
						td
							img.mr-5(width="50" src='assets/img/cards/card3.png', alt='card')
							| Женский пиджак
							.badge.badge-pill.badge-warning 130 смн
						td 
							a.btn.btn-outline-secondary.btn-sm(href="admin-users-single.html") Некбахт Забиров
						td 
							+btns
		nav.align-center.d-flex.justify-content-center
			ul.pagination
				li.page-item
					a.page-link(href='#') 1
				li.page-item
					a.page-link(href='#') 2
				li.page-item
					a.page-link(href='#') 3

src/admin-goods.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Товары
    </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav"><a class="nav-item nav-link active" href="admin-main.html">Общая картина </a><a class="nav-item nav-link" href="admin-users.html">Пользователи</a><a class="nav-item nav-link" href="admin-goods.html">Товары</a></div>
      </div>
      <div class="navbar-nav my-2 my-lg-0"><a class="nav-item nav-link" href="admin-login.html">Выход</a></div>
    </nav>
    <div class="container-fluid">
      <div class="table-responsive mb-2">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Наименование товара</th>
              <th scope="col">Продавец</th>
              <th scope="col">Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>	<img class="mr-5" width="50" src="assets/img/cards/card1.png" alt="card">Джинсовая рубашка
                <div class="badge badge-pill badge-warning">50 смн</div>
              </td>
              <td> <a class="btn btn-outline-secondary btn-sm" href="admin-users-single.html">Николай Козлов</a></td>
              <td> 
                <div class="btn-group btn-group-sm"><a class="btn btn-secondary btn-primary" href="admin-goods-single.html">Просмотреть</a></div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><img class="mr-5" width="50" src="assets/img/cards/card2.png" alt="card">MacBook Pro
                <div class="badge badge-pill badge-warning">11560 смн</div>
              </td>
              <td> <a class="btn btn-outline-secondary btn-sm" href="admin-users-single.html">Шоди Рашидбеков</a></td>
              <td> 
                <div class="btn-group btn-group-sm"><a class="btn btn-secondary btn-primary" href="admin-goods-single.html">Просмотреть</a></div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><img class="mr-5" width="50" src="assets/img/cards/card3.png" alt="card">Женский пиджак
                <div class="badge badge-pill badge-warning">130 смн</div>
              </td>
              <td> <a class="btn btn-outline-secondary btn-sm" href="admin-users-single.html">Некбахт Забиров</a></td>
              <td> 
                <div class="btn-group btn-group-sm"><a class="btn btn-secondary btn-primary" href="admin-goods-single.html">Просмотреть</a></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav class="align-center d-flex justify-content-center">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
        </ul>
      </nav>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
