src/pug/admin-login.pug
extends layouts/admin

block title
	| Авторизация в админку

block body
	.container-fluid.d-flex.justify-content-center.align-items-center(style="height:100vh")
		form(action="admin-main.html")
			.form-group
				label(for='login') Логин
				input#login.form-control(type='text', placeholder='Логин')
				small#emailHelp.form-text.text-muted Не ошибитесь!
			.form-group
				label(for='password') Пароль
				input#password.form-control(type='password', placeholder='Пароль')
			button.w-100.btn.btn-primary.align-self-center(type='submit') Войти
			

src/admin-login.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Авторизация в админку
    </title>
  </head>
  <body>
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height:100vh">
      <form action="admin-main.html">
        <div class="form-group">
          <label for="login">Логин</label>
          <input class="form-control" id="login" type="text" placeholder="Логин"><small class="form-text text-muted" id="emailHelp">Не ошибитесь!</small>
        </div>
        <div class="form-group">
          <label for="password">Пароль</label>
          <input class="form-control" id="password" type="password" placeholder="Пароль">
        </div>
        <button class="w-100 btn btn-primary align-self-center" type="submit">Войти</button>
      </form>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
</html>
